NEXT_PUBLIC_WEBSITE_URL=website_url
NEXT_PUBLIC_WEBSITE_NAME=website_name
NEXT_PUBLIC_BASE_URL=/api
NEXT_PUBLIC_API_URL=api_url
NEXT_PUBLIC_SUPABASE_URL=supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=anon_key
RESEND_API_KEY=your_resend_api_key_here